  .table {
    margin-left:auto; 
    margin-right:auto;
  }
  .head{
    background-color:#57a99a;
  }
  .tableItem{
    background-color:#d1eecc;
  }
  .btn{
    background-color: #57a99a;
  }
  .container{
    margin-top:20px;
  }
  .aliniat{
    text-align: center;
  }
  table, th, td {
    border: 1px solid black;
  }
  