  h1 {
    padding-top:20px;
    text-align: center;
    margin-bottom: 0;
  }
  h4 {
    position: relative;
  }
.img-fluid{
  max-height: 40%;
  margin-top:20px;
}
.card-columns{
text-align: center;
column-count: 4;
margin-top: 20px;
margin-left:180px;
margin-right:180px;

}
.btn{
  background-color:#347474;
  color: #ecf4f3;
}
.card{
  width:280px;
  height:420px; 
  box-shadow: 0 6px 20px 0 rgba(2, 116, 7, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container{
  margin-top:20px;
}