.container{
    padding: 25px;
    margin-top:20px;

}
.btn {
    background-color: black;
    margin:5px;
    color:white;

}
.table {
    margin-left:auto;
    margin-right:auto;

  }
  .head{
    background-color:dimgrey;
  }
  .tableItem{
    background-color:white;

  }
  table, th, td {
    border: 1px solid black;
  }
  .aliniat{
    text-align: center;
  }
  .col-sm-6{
    margin-top:10px;
    margin-left:5px;
  }
  .center{
    width: 150px;
    margin: 40px auto;
  }
  .cantitate{
    width:140px ;
    margin: 40px auto;
    padding-top:20px;
  }
  .centru{
    padding-top:20px;
  }
  .btn1{
    margin:0;
  }
  .form-control{
    height:30px;
    text-align: center;
  }
.modal{
  display: block;
}


