<div class="container">
    <div class="row ">
        <div class="col-sm-6">
            <h2>My Order: </h2>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-1"><button type="button" class="btn btn-lg">Checkout</button>
        </div>
    </div>

    <table class="table table-bordered container ">
        <thead class="head">
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col" class="aliniat">Quantity</th>
                <th scope="col" class="aliniat"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products" class="tableItem">
                <td>{{product.category}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td class="aliniat">1</td>
                <td class="aliniat">
                    <button type="button" class="btn btn-secondary">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>