h1{
    text-align: center;
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 250%;
}
h2,h3,h4 {
    text-align: center;
    color: #444;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: lighter;
  }
  body {
    text-align: center;
    margin: 2em;
  }
  input, button {
    background-color: #76dbd1;
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
  * {
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:white;
  }
  .btn{
    background-color: #57a99a;
  }
  .nav-link:hover{
    color: #76dbd1;
  }
 
 
