.container{
    padding:50px;
    margin-top:30px;
    background-color:#ecf4f3;
    box-shadow: 0 4px 8px 0 rgba(2, 116, 7, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
label{
    display: inline-block;
    width: 100px;
    text-align: left;
}
input:invalid {
    border: 2px solid red;
}
.btn {
    background-color: #57a99a;
    margin:5px;
}
.row{
    padding-bottom:25px;
}
input{
    width:900px;
}
textarea{
    width:900px;
}
textarea:invalid{
    border: 2px solid red;
}
input:focus{
    outline:none;
}

  
