.container{
    margin-top:50px;
    box-shadow: 0 4px 8px 0 rgba(2, 116, 7, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.btn {
    background-color: #57a99a;
    margin:5px;
}

.elemente{
  padding-top:40px;

}

.col-sm-5{
    background-color:white;
    padding:25px;

}
.col-sm-7{
 background-color:#ecf4f3;
 padding-bottom:35px;
}
.col-sm-6{
    margin-top:20px;
    margin-bottom:40px;
}

.fade.in {
    opacity: 1;
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .modal-backdrop .fade .in {
    opacity: 0.5 !important;
  }


  .modal-backdrop.fade {
      opacity: 0.5 !important;
  }

  .modal{
      display: block;
  }
