<div *ngIf="product" class="container">
  <div class="row ">
    <div class="col-sm-5">
      <img class="imagine" src="{{product.image}}" />
    </div>

    <div class="col-sm-7">
      <div class="row ">
        <div class="col-sm-6 ">
          <h2>{{product.name}}</h2>
        </div>
        <div class="col-sm-6 text-right">
          <a routerLink="/edit/{{product.id}}"><button type="button" class="btn"
              style="margin-left:35px" [hidden]="!admin" >Edit</button></a>
          <a routerLink="/shopping"><button type="button" class="btn " (click)="addToCart()"><i class="fa fa-cart-plus"></i></button></a>
          <button type="button" class="btn delete" (click)="modalFunction()" [hidden]="!admin"  >Delete</button>
        </div>
        <div style="margin-left:20px;">
          <span class="elemente">
            <h4>Category: </h4>{{product.category}}
          </span>
          <span class="elemente">
            <h4>Name:</h4> {{product.name}}
          </span>
          <span class="elemente">
            <h4>Price: </h4>{{product.price}}
          </span>
          <span class="elemente">
            <h4>Description:</h4> {{product.description}}
          </span>
        </div>
      </div>
    </div>
  </div>

</div>


<div id="myModalgj" class="modal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" *ngIf="showModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: red" class="modal-title" id="exampleModalLongTitle">Confirm </h5>
      </div>
      <div class="modal-body">
        <h5> Are you sure you want to remove the "{{product.name}}" product? </h5>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="delete(product)">OK</button>
        <button type="button" class="btn btn-secondary" (click)="modalFunction()" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

